html, body {
	height: 100%;
}

.fill {
	height: 100%;
	min-height: 100%;
}

#panel-wrapper {
	position: absolute;
	width: 70%;
	height: 100%;
}

#panel-center {
	position: relative;
	max-height: calc(100% - 20em);
	overflow: auto;
/* 	background-color: #ccccff; */
	padding: 5px;
}

#panel-south {
	position: absolute;
	bottom: 0px;
	height: 20em;
	width: 100%;
/* 	background-color: #ffcccc; */
	overflow: auto;
	padding: 5px; 
}

#panel-right {
	float: right;
	height: 100%;
	width: 30%;
/* 	background-color: #ccfcfc; */
	padding: 5px; 
	overflow: auto;
}

/* .ng-invalid.ng-dirty { */
/* 	border-color: #FA787E; */
/* } */

/* .ng-valid.ng-dirty { */
/* 	border-color: #78FA89; */
/* } */

.loginBar {
	background-color: #424545;
	color: #FFFFFF;
	text-align: center;
	font-size: large;
}

.right_v_stick {
	background-image: url('../images/rightsided_v.png');
	background-position: left center;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding-left: 0.4em;
}

.left_v_stick {
	background-image: url('../images/leftsided_v.png');
	background-position: right center;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding-right: 0.4em;
}

.upward_v_stick {
	background-image: url('../images/upward_v.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	text-align: center;
	padding-bottom: 0.4em;
}

.lower_v_stick {
	background-image: url('../images/lower_v.png');
	background-position: center top;
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 0.4em;
}

/* .component th { */
/* 	font-weight: bold; */
/* 	font-size: 0.8em; */
/* } */

/* .component table, .component td, .component tr { */
/* 	text-align: center; */
/* 	border-collapse: collapse; */
/* 	border-spacing: 0; */
/* 	padding-top: 0; */
/* 	padding-bottom: 0; */
/* } */

.component {
	font-family: "Times New Roman", Times, serif;
}

.component:hover {
	background-color: #eeddee;
	cursor: cell;
}

.component-selected {
	outline-style: dashed;
	outline-width: thin;
	outline-color: gray;
}

.componentHorizontal {
	display: inline;
	float: left;
	overflow: auto;
	vertical-align: text-bottom;
	padding: 1px 5px;
}

.componentVertical {
	overflow: auto;
}

.component-box-horizontal {
/* 	display: block; */
/* 	clear: both; */
	overflow: auto;
	vertical-align: text-bottom;
}

.component-box-vertical {
/* 	display: inline; */
/* 	width: 100px; */
	float:left;
	overflow: auto;
	padding: 1px 5px;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#main-canvas {
	width: 100%;
	height: 93%;
	display: inline;
}

.properties-panel {
/*     background-color:#eeeeee; */
    max-height: 100%;
    overflow-y: auto;
}

.component-canvas {
	min-height: max(100%, 30em);
	overflow-y: auto;
	overflow-x: auto;
}

/* #items-panel { */
/*     width:350px; */
/*     float:left; */
/*     padding:10px;  */
/* } */

/* #footer { */
/*     background-color:black; */
/*     color:white; */
/*     clear:both; */
/*     text-align:center; */
/*     padding:5px;  */
/* } */




/* .fluids table, .fluids th, .fluids td { */
/* 	font-size: small; */
/* 	border: thin solid #DDDDDD; */
/* 	border-collapse: collapse; */
/* 	padding: 1px; */
	
/* } */

.small-padding-table table, .small-padding-table th, .small-padding-table td {
	padding: 1px;
	font-size: small;
	border: thin solid #DDDDDD;
	border-collapse: collapse;
	padding: 1px 5px;
}

.small-padding-table th {
	font-size: x-small;
}

button.on {
    background-color: #816b34;
    color: #FFFFFF;
}


/* .thumbnail { */
/* 	height: 50px; */
/* 	width: 50px; */
/* 	text-align: center; */
/* 	padding-top: 0px; */
/* 	transition: none; */
/* 	-webkit-transition: none; */
/* 	-moz-transition: none; */
/* 	-o-transition: none; */
/* 	cursor: pointer; */
/* 	background: rgb(182, 173, 123); */
/* } */

/* .thumbnail[data-drag="false"] { */
/* 	background: green; */
/* } */

/* li { */
/* 	height: 56px; */
/* 	width: 60px; */
/* 	line-height: 20px; */
/* 	border: 1px solid #ddd; */
/* 	padding: 3px; */
/* 	margin-left: 10px; */
/* } */