<div class="panel panel-primary">
	<div class="panel-heading">Canvas</div>
	<div class="panel-body" style="min-height: 30em; max-height: 30em; overflow-y: auto; overflow-x: auto;">
		<table class="table" style="min-width: 80em; max-width: 80em;">
			<tbody>
				<tr ng-repeat="patient in patients">
					<td ng-repeat="category in categories">
<!-- 		<p>Test of lab directive:</p> -->
<!-- 		<lab id="bg">myLab</lab> -->
						<div ng-repeat="item in category.items" ng-show="item.selected"
							ng-click="itemCtrl.setActiveItem(item)" class="component">
							<ng-include src="'components/'+item.component"></ng-include>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>