<!DOCTYPE html>
<html ng-app="library">
<head>
<!-- <link rel="stylesheet" type="text/css" -->
<!-- 	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" /> -->
<link rel="stylesheet" type="text/css"
	href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="css/bootstrap-theme.min.css" />
<link rel="stylesheet" type="text/css" href="style.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<title>User Interface Design Tool - Powered by Vanderbilt</title>

</head>
<body>
<body>
	<div ng-include="'navbar.html'"></div>
	<div class="container-fluid"
		ng-controller="LibraryController as library">

		<div ng-controller="ItemController as itemCtrl">
			<component-canvas></component-canvas>
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<properties-panel></properties-panel>
				</div>
				<div class="col-sm-6 col-md-8">
					<element-list></element-list>
				</div>
			</div>
		</div>
			<span>{{labNew = fields.ital_new_labs.value ? {'font-style':'italic'} : {} }}</span>
	</div>



<!-- 	<input type="button" value="set italic" ng-click="labNew={'font-style':'italic'}"> -->
<!-- 	<input type="button" value="set background"	ng-click="labNew={'background-color':'blue'}"> -->
<!-- 	<input type="button" value="clear" ng-click="labNew={}"> -->
<!-- 	<br /> -->
<!-- 	<span ng-style="labNew">Sample Text</span> -->
<!-- 	<pre>labNew={{labNew}}</pre> -->


	<script src="/js/jquery-1.11.3.min.js"></script>
	<script src="/js/angular.min.js"></script>
	<script src="/js/angular-dragdrop.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/items.js"></script>
	<script src="/js/canvas.js"></script>
</body>
</html>