<div class="panel panel-primary">
	<div class="panel-heading">Preferences</div>
	<h2>Active item: {{itemCtrl.activeItem.name}}</h2>
	<div class="checkbox">
		<label><input type="checkbox"
			ng-model="itemCtrl.activeItem.selected" />Selected</label>
	</div>
	<div ng-repeat="fieldId in itemCtrl.activeItem.fields">
		{{fieldId}} |||
		<table ng-init="field=library.fields[fieldId]">
			<tbody>
				<tr>
					<td>{{field.label}}</td>
				</tr>
				<tr>
					<td><ng-include src="'fields/radio.html'"></ng-include></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>