<div class="panel panel-primary">
	<div class="panel-heading">Preferences</div>
	<div class="panel-body properties-panel">
		<div>
			<div class="pull-right" style="vertical-align: bottom">
				<toggle-switch ng-model="itemCtrl.activeItem.selected" knob-label="status"></toggle-switch>
			</div>
			<h3>{{itemCtrl.activeItem.name}}</h3>
		</div>
		
		
		<div ng-repeat="fieldId in itemCtrl.activeItem.itemFields">
			<div ng-init="field=fields[fieldId]">
				<h4>{{field.label}}</h4>
				<ng-include src="propertiesCtrl.getWidgetType(field.type)"></ng-include>
			</div>
		</div>
	</div>
</div>