.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.loginBar {
	background-color: #424545;
	color: #FFFFFF;
	text-align: center;
	font-size: large;
}

.right_v_stick {
	background-image: url('images/rightsided_v.png');
	background-position: left center;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding-left: 0.4em;
}

.left_v_stick {
	background-image: url('images/leftsided_v.png');
	background-position: right center;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding-right: 0.4em;
}