.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.loginBar {
	background-color: #424545;
	color: #FFFFFF;
	text-align: center;
	font-size: large;
}

.right_v_stick {
	background-image: url('images/rightsided_v.png');
	background-position: left center;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding-left: 0.4em;
}

.left_v_stick {
	background-image: url('images/leftsided_v.png');
	background-position: right center;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding-right: 0.4em;
}

/* .component th { */
/* 	font-weight: bold; */
/* 	font-size: 0.8em; */
/* } */

/* .component table, .component td, .component tr { */
/* 	text-align: center; */
/* 	border-collapse: collapse; */
/* 	border-spacing: 0; */
/* 	padding-top: 0; */
/* 	padding-bottom: 0; */
/* } */

.component:hover {
	background-color: #eeddee;
	cursor: cell;
}

.component-selected {
	outline-style: dashed;
	outline-width: thin;
	outline-color: gray;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#main-canvas {
	width: 100%;
	height: 93%;
	display: inline;
}
#properties-panel {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#items-panel {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}