<table class="small-padding-table">
	<tbody>
		<tr>
			<th>Birth</td>
			<th>Current</td>
		</tr>
		<tr>
			<td>{{::patient.demographics.birthdate | date : 'M/d'}}</td>
			<td>{{::calcDOL(patient.demographics.birthdate) | ageFilter}}</td>
		</tr>
		<tr>
			<td>{{::patient.demographics.gestation | weeksAndDays}}</td>
			<td>{{::patient.demographics.gestation +
				calcDOL(patient.demographics.birthdate)| weeksAndDays}}</td>
		</tr>
		<tr>
			<td>{{::patient.vitals.birthweight}}</td>
			<td>{{::patient.vitals.wt}}</td>
		</tr>
	</tbody>
</table>