<table id="lytePanel">
	<tbody>
		<tr>
			<td id="central_sodium"
				style="border-bottom: thin solid black; border-right: thin solid black">Na</td>
			<td id="central_chloride"
				style="border-bottom: thin solid black; border-right: thin solid black">Cl</td>
			<td id="central_bun" style="border-bottom: thin solid black">BUN</td>
			<td class="right_v_stick" rowspan="2" id="central_glucose">Glu</td>
		</tr>
		<tr>
			<td id="central_potassium" style="border-right: thin solid black">K</td>
			<td id="central_bicarb" style="border-right: thin solid black">HCO3</td>
			<td id="central_creatinine">Cr</td>
		</tr>
	</tbody>
</table>